// Primary Text Colors
$brand-primary-cetacean-blue: #080E54;
$brand-primary-light-gray: rgba(0, 0, 0, 0.35);
$brand-primary-sapphire: #005CBE;

// Secondary Text Colors
$brand-secondary-dim-gray: #686868;
$brand-secondary-white: #FFF;
$brand-secondary-black: #000;

// Primary Background Colors
$brand-primary-tertiary-linear: linear-gradient(180deg, #00EAB2 0%, #005CBE 100%);
$brand-primary-input: #F1F3FF;